@model Race

<div class="container">
    <h1 class="my-4 py-5">
    </h1>
    <div class="row container bg-white p-5 pt-5">
        <div class="col-md-8">
            <img src="@Model.Image" alt="" class="img-fluid">
        </div>

        <div class="col-md-4">
            <h2 class="my-3">@Model.Title</h2>
            <p>@Model.Description</p>

            <p>Run type: @Model.RaceCategory</p>
            <h4 class="my-3">Location</h4>
            <ul>
                <li>@Model.Address.City</li>
                <li>@Model.Address.State</li>
            </ul>
        </div>

    </div>
</div>