@using RunGroupWebApp.ViewModels
@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}


<div class="py-lg-16 py-10 bg-gray-200 py-5"
     style="height: 500px; background: url('https://images.pexels.com/photos/1526790/pexels-photo-1526790.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')no-repeat; background-size: cover; background-position: center">
    <div class="container">
        <!-- row -->
        <div class="d-flex justify-content-center align-items-bottom text-center">
            <div class="col-md-9 col-12">
                <!-- heading -->
                <h2 class="display-4 text-white font-weight-medium font-weight-bold">Join more than 1 million runners worldwide</h2>
                <p class="lead px-lg-12 mb-6 text-white font-weight-bold">
                    Effective way of having fun with friends. Take care of your health right now.
                </p>
                <!-- button -->
                <div class="d-grid d-md-block">
                    <a class="btn btn-light mb-2 mb-md-0" asp-area="" asp-controller="Account" asp-action="Register">Join us NOW!</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--end of section-->
<section>
    <div class="container">
        @if (Model.Clubs == null)
        {
            <h1 class="fw-light m-5">
                There are no running clubs in your area! In @Model.State <a asp-area="" asp-controller="Account" asp-action="Login">Login</a> and create one!
            </h1>
        }
        else
        {
            <div class="row justify-content-center my-5 bg-light py-4">
                <div class="col-auto">
                    <h3>Running clubs near @Model.City, @Model.State</h3>
                </div>

            </div>
            <ul class="row feature-list feature-list-sm py-5 bg-light" style="list-style-type: none">
                @foreach (var item in Model.Clubs)
                {
                    <li class="col-12 col-md-6 col-lg-4 mb-5">
                        <div class="card">
                            <a asp-controller="Club" asp-action="Detail" asp-route-id="@item.Id">
                                <img class="card-img-top" src="@item.Image" alt="Card image cap">
                            </a>
                            <div class="card-body">
                                <h4 class="card-title">@item.Title</h4>
                                <p class="card-text text-body">@item.Description</p>
                            </div>
                            <div class="card-footer card-footer-borderless d-flex justify-content-between">
                                <div class="text-small">
                                    <ul class="list-inline">
                                        <i class="fa-solid fa-heart"></i>
                                        <i class="fa-solid fa-message"></i>
                                    </ul>
                                </div>
                                <div class="dropup">
                                    <a type="btn btn-success" asp-controller="Club" asp-action="Detail" asp-route-id="@item.Id"
                                       class="btn btn-sm btn-outline-secondary">View</a>
                                    <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="SidekickButton">
                                        <a class="dropdown-item" href="#">Save</a>
                                        <a class="dropdown-item" href="#">Share</a>
                                        <a class="dropdown-item" href="#">Comment</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Report</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        }
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="container">
</section>



<section class="my-5">
    <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark mb-2">
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">Title of a longer featured blog post</h1>
            <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what's most interesting in this post's contents.</p>
            <a class="btn btn-light">Continue reading</a>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="card flex-md-row mb-2 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-primary">Runner's Life</strong>
                    <h3 class="mb-0">
                        <p class="text-dark">Runner Diet</p>
                    </h3>
                    <div class="mb-1 text-muted">Nov 12</div>
                    <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-success">Continue reading</a>
                </div>
                <img class="card-img-right flex-auto d-none d-md-block" height="250" width="200" src="https://images.pexels.com/photos/25792980/pexels-photo-25792980/free-photo-of-slonce-budynek-architektura-podroz.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Card image cap">
            </div>
        </div>
        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-success">Advices</strong>
                    <h3 class="mb-0">
                        <p class="text-dark">Best running places</p>
                    </h3>
                    <div class="mb-1 text-muted">Nov 11</div>
                    <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-success">Continue reading</a>
                </div>
                <img class="card-img-right flex-auto d-none d-md-block" height="250" width="200" src="https://images.pexels.com/photos/25792980/pexels-photo-25792980/free-photo-of-slonce-budynek-architektura-podroz.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Card image cap">

            </div>
        </div>
    </div>
</section>

<section class="container text-center bg-white py-5 my-5">
    <h1>About Us</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    </p>
    <p>
        Fugit dolorum itaque qui unde quisquam consequatur autem.
    </p>
    <p>
        Eveniet quasi nobis aliquid cumque officiis sed rem iure ipsa! Praesentium ratione atque dolorem?
    </p>
    <div>
        <h1 class="px-2 fa-brands fa-twitter"></h1>
        <h1 class="px-2 fa-brands fa-linkedin"></h1>
        <h1 class="px-2 fa-brands fa-github"></h1>
    </div>
</section>

@*

<section class="container bg-light p-2 row g-0 text-center">
    <img class="img-fluid col-sm-6 col-md-8" src="https://images.pexels.com/photos/5611/sky-blue-flag-poland.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
         alt="">
    <div class="col-6 col-md-4">
        <h1 class="p-2">
            Biegamy w Polsce od 12 lat!
            Organizujemy liczne wspólne zawody,
            koleżeńską konkurencje.
        </h1>
        <div class="d-grid d-md-block">
            <a class="btn btn-dark mb-2 mb-md-0" asp-area="" asp-controller="Account" asp-action="Register">Join us today!</a>
        </div>
    </div>
</section>*@